<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MeetHere-管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <style type="text/css">
        body{
            background-color: #f5f5f5;
            padding-top: 55px;
        }
        html {
            overflow-y: scroll;
        }
        :root {
            overflow-y: auto;
            overflow-x: hidden;
        }
        :root body {
            position: absolute;
        }
        body {
            width: 100vw;
            overflow: hidden;
        }
    </style>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:include="layout/left :: left(user=${session.user},flag=${session.user}!=null,page='user_manage')"></div>
        <main class="col-10 ml-auto px-4 mt-4">
            <div class="col-12 mb-3 pb-3 border-bottom border-gray">
                <h2>新增用户</h2>
            </div>
            <div class="mt-5">
                <form class="col-6 mx-auto" role="form" action="#" th:action="@{addUser.do}" method="post">
                    <div class="form-group mb-4 row">
                        <div class="media col-2">
                            <h6 class="align-self-center ml-auto">昵称</h6>
                            <h6 class="text-danger">*</h6>
                        </div>
                        <div class="col-10">
                            <label for="userName" class="sr-only">昵称</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input type="text" name="userName" class="form-control" id="userName" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-4 row">
                        <div class="media col-2">
                            <h6 class="align-self-center ml-auto">邮箱</h6>
                        </div>
                        <div class="col-10">
                            <label for="email" class="sr-only">邮箱</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span class="glyphicon glyphicon-envelope"></span></span>
                                </div>
                                <input type="text" name="email" class="form-control" id="email" onchange="emailVerify()">
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger col-10 ml-auto" hidden id="alertEmail"><span class="glyphicon glyphicon-info-sign"></span> 请输入正确的邮箱</div>
                    <div class="form-group mb-4 row">
                        <div class="media col-2">
                            <h6 class="align-self-center ml-auto">手机</h6>
                        </div>
                        <div class="col-10">
                            <label for="phone" class="sr-only">手机</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span class="glyphicon glyphicon-earphone"></span></span>
                                </div>
                                <input type="text" name="phone" class="form-control" id="phone" onchange="phoneVerify()">
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger col-10 ml-auto" hidden id="alertPhone"><span class="glyphicon glyphicon-info-sign"></span> 请输入正确的手机号</div>
                    <div class="form-group mb-4 row">
                        <div class="media col-2">
                            <h6 class="align-self-center ml-auto">用户名</h6>
                            <h6 class="text-danger">*</h6>
                        </div>
                        <div class="col-10">
                            <label for="userID" class="sr-only">用户名</label>
                            <input type="text" name="userID" class="form-control" onchange="doVerify()" id="userID" required>
                        </div>
                    </div>
                    <div class="alert alert-danger col-10 ml-auto" hidden id="alertId"><span class="glyphicon glyphicon-info-sign"></span> 用户名已被占用，请重新输入！</div>
                    <div class="form-group mb-5 row">
                        <div class="media col-2">
                            <h6 class="align-self-center ml-auto">密码</h6>
                            <h6 class="text-danger">*</h6>
                        </div>
                        <div class="col-10">
                            <label for="password" class="sr-only">密码</label>
                            <input type="text" name="password" class="form-control" id="password" required>
                        </div>
                    </div>
                    <div class="mb-4 d-flex justify-content-center">
                        <button class="btn btn-danger col-2 mr-5" type="submit" id="submit" >提交</button>
                        <button class="btn btn-secondary col-2" type="reset" id="cancel">取消</button>
                    </div>
                </form>
            </div>
            <div th:include="layout/footer :: Footer"></div>
        </main>
    </div>
</div>

<script type="text/javascript">

    var flag = [false, false, false];

    $("#cancel").click(function(){
        window.history.back();
    });

    function justifySubmit() {
        console.log(flag);
        for(let i = 0; i < 3; i++){
            if(flag[i]){
                $("#submit").attr('disabled',true);
                return;
            }
        }
        $("#submit").attr('disabled',false);
    }
    function doVerify(){
        let account =  $("#userID").val();
        // console.log(account);
        if(account =="") {
            if (flag[0]) {
                $("#alertId").attr('hidden', 'hidden');
                flag[0] = false;
            }
            justifySubmit();
            return;
        }
        $.ajax({
            url:"checkUserID.do",
            dataType: "Json",
            type: "post",
            data:{
                userID:account
            },
            success: function(msg){
                if(!msg) {
                    // 账号已经存在
                    if(!flag[0]){
                        flag[0] = true;
                        $("#alertId").removeAttr('hidden');
                    }
                }
                else{
                    if(flag[0]){
                        flag[0] = false;
                        $("#alertId").attr('hidden', 'hidden');
                    }
                }
                justifySubmit();
            }
        });

    }
    function phoneVerify() {
        var phone =  $("#phone").val();
        if(phone =="") {
            if (flag[1]) {
                $("#alertPhone").attr('hidden', 'hidden');
                flag[1] = false;
            }
            justifySubmit();
            return;
        }
        var myreg=/^[1][3,4,5,7,8][0-9]{9}$/;
        if (!myreg.test(phone)) {
            if(!flag[1]){
                flag[1] = true;
                $("#alertPhone").removeAttr('hidden');
            }
        } else {
            if(flag[1]){
                flag[1] = false;
                $("#alertPhone").attr('hidden', 'hidden');
            }
        }
        justifySubmit();
    }
    function emailVerify(){

        var email = $("#email").val();
        if(email =="") {
            if (flag[2]) {
                $("#alertEmail").attr('hidden', 'hidden');
                flag[2] = false;
            }
            justifySubmit();
            return;
        }
        var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
        if(!reg.test(email)){
            if(!flag[2]){
                flag[2] = true;
                $("#alertEmail").removeAttr('hidden');
            }
        }else{
            if(flag[2]){
                flag[2] = false;
                $("#alertEmail").attr('hidden', 'hidden');
            }
        }
        justifySubmit();
    }

</script>
</body>
</html>