<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MeetHere-管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <style type="text/css">
        body{
            background-color: #f5f5f5;
            padding-top: 55px;
        }
    </style>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:include="layout/left :: left(user=${session.user},flag=${session.user}!=null,page='venue_manage')"></div>
        <main class="col-10 ml-auto px-4 mt-4">
            <div class="col-12 mb-3 pb-3 border-bottom border-gray">
                <h2>新增场馆</h2>
            </div>
            <div>
                <form class="col-10 mx-auto" role="form" th:action="@{'addVenue.do?venueID='+${venue.venueID}}">
                    <div class="form-group mb-4 d-flex justify-content-start">
                        <div class="col-2 align-self-center text-right">
                            <h6 class=" ml-auto">场馆名称：</h6>
                        </div>
                        <div class="col-7">
                            <label for="title" class="sr-only">场馆名称</label>
                            <input type="text" name="title" class="form-control" id="title" required>
                        </div>
                    </div>
                    <div class="form-group mb-4 d-flex justify-content-start">
                        <div class="col-2 align-self-center text-right">
                            <h6 class=" ml-auto">位置：</h6>
                        </div>
                        <div class="col-7">
                            <label for="address" class="sr-only">位置</label>
                            <input type="text" name="address" class="form-control" id="address" required>
                        </div>
                    </div>
                    <div class="form-group mb-4 d-flex justify-content-start">
                        <div class="col-2 align-self-center text-right">
                            <h6 class=" ml-auto">租金：</h6>
                        </div>
                        <div class="col-3">
                            <label for="price" class="sr-only">租金</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">￥</div>
                                </div>
                                <input type="text" name="price" class="form-control" id="price" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-4 d-flex justify-content-start">
                        <div class="col-2 align-self-center text-right">
                            <h6 class=" ml-auto">开放时间：</h6>
                        </div>
                        <div class="col-10 d-flex justify-content-start">
                            <div class="date col-4 pl-0">
                                <label for="startTime" class="sr-only">开始时间</label>
                                <input type="text" id="startTime" class="form-control" required name="open_time">
                            </div>
                            <h6 class="align-self-center strong h4">~</h6>
                            <div class="date col-4 pr-0">
                                <label for="endTime" class="sr-only">结束时间</label>
                                <input type="text" id="endTime" class="form-control" required name="close_time">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-4 d-flex justify-content-start">
                        <div class="col-2 align-self-start pt-1 text-right">
                            <h6 class="ml-auto">场馆介绍：</h6>
                        </div>
                        <div class="col-10">
                            <label for="description" class="sr-only">场馆介绍</label>
                            <textarea class="form-control" name="description" id="description" rows="10" required></textarea>
                        </div>
                    </div>
                    <div class="form-group mb-4 d-flex justify-content-start">
                        <div class="col-2 align-self-start pt-1 text-right">
                            <h6 class="ml-auto">图片：</h6>
                        </div>
                        <div class="col-10">
                            <img src="image.JPG" alt="" style="height: 100px; width: 100px">
                            <label for="picture" class="sr-only">Example file input</label>
                            <input type="file" class="form-control-file mt-2" id="picture" name="picture">
                        </div>
                    </div>
                    <div class="mb-4 d-flex justify-content-center">
                        <button class="btn btn-danger col-2 mr-5" type="submit">提交</button>
                        <button class="btn btn-secondary col-2" type="reset" id="cancel">取消</button>
                    </div>

                </form>
            </div>
            <div th:include="layout/footer :: Footer"></div>
        </main>
    </div>
</div>

<script type="text/javascript">
    $('textarea').each(function () {
        this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
    }).on('input', function () {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + 'px';
    });
    $("form").submit(function(){
        window.history.back();
        return false;
    });
    $(function () {
        const picker1 = $('#startTime').datetimepicker({
            format: 'HH:mm ',
            locale: moment.locale('zh-cn'),

        });
        const picker2 = $('#endTime').datetimepicker({
            format: 'HH:mm',
            locale: moment.locale('zh-cn'),
            useCurrent: false
        });
        picker1.on('dp.change', function (e) {
            picker2.data('DateTimePicker').minDate(e.date);
        });
        picker2.on('dp.change', function (e) {
            picker1.data('DateTimePicker').maxDate(e.date);
        });
    });
    $("#cancel").click(function(){
        window.history.back();
    });
</script>
</body>
</html>