<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div th:fragment="Header">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{index}" style="font-weight: bold">Meet Here</a>
        </div>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{index}">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{venue_list}">场馆信息</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown">预约管理</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{order_place}">场馆预约</a>
                        <a class="dropdown-item" th:href="@{order_manage}">订单管理</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{news_list}">新闻</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{message_list}">留言板</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{login}"><span class="glyphicon glyphicon-log-in"></span> 登录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{signup}"><span class="glyphicon glyphicon-user"></span> 注册</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>