<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <style type="text/css">
        body{
            background-color: #f5f5f5;
        }
    </style>

</head>
<body>
<div th:include="header :: Header"></div>

<main class="container col-4" style="padding-top: 10%">
    <form role="form" class="form-login" action="/login" method="post">
        <div class="text-center mb-5">
            <h1>用户登录</h1>
        </div>
        <div class="form-group mb-4">
            <label for="id" class="sr-only">User Name</label>
            <input type="text" name="id" class="form-control form-control-lg" id="id" placeholder="用户名" required autofocus>
        </div>

        <div class="form-group mb-4">
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" class="form-control form-control-lg" id="password" placeholder="密码" required>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> 记住密码
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登 录</button>
    </form>

</main>
<footer class="mt-5 mb-3 text-muted text-center">&copy; 2019 MeetHere</footer>

<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>