<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.twbsPagination.js}"></script>
    <style type="text/css">
        body{
            background-color: #f5f5f5;
            padding-top: 80px;
        }
    </style>
</head>
<body>

<div th:include="layout/header :: header(user=${session.user},flag=${session.user}!=null,page='message_list')"></div>

<main role="main" class="container">

    <div class="card bg-white rounded shadow p-3 mb-3">
        <form role="form" th:action="@{sendMessage}" method="post">
            <div class="form-group">
                <label for="content" class="font-weight-bold sr-only">发布留言</label>
                <textarea class="form-control" id="content" name="content" rows="3" placeholder="有什么想和大家分享的？" required></textarea>
            </div>
            <button class="btn btn-danger btn-block col-2 ml-auto" type="submit">发布</button>
        </form>
    </div>


    <div class="card bg-white rounded shadow">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#tab1" data-toggle="tab">全部留言</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab2" data-toggle="tab">我的留言</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab1">
                    <div id="content1"></div>
<!--                    <ul class="list-group pt-2 px-3">-->
<!--                        <li class="list-group-item px-3 border-0" th:each="message : ${message_list}">-->
<!--                            <div class="media border-bottom border-gray">-->
<!--                                <img class="mr-2" th:src="${message.picture}"-->
<!--                                     alt="" height="32px" width="32px">-->
<!--                                <div class="media-body pb-3 mb-0 small">-->
<!--                                    <strong class="d-block">@username</strong>-->
<!--                                    <p th:text="${message.content}">-->
<!--                                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,-->
<!--                                        tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.-->
<!--                                    </p>-->
<!--                                    <small class="float-right" th:text="${message.time}">2019-12-10</small>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                    </ul>-->
                    <div class="d-flex justify-content-center mt-2" id="pagination1"></div>

                </div>

                <div class="tab-pane fade" id="tab2">
                    <div id="content2"></div>
<!--                    <ul class="list-group">-->
<!--                        <li class="list-group-item px-3 border-0">-->
<!--                            <div class="dropdown float-right">-->
<!--                                <a class="text-dark" href="#" data-toggle="dropdown">-->
<!--                                    <span class="glyphicon glyphicon-menu-down"></span>-->
<!--                                </a>-->
<!--                                <div class="dropdown-menu">-->
<!--                                    <a class="dropdown-item" data-toggle="collapse" href="#modifyMessage">修改</a>-->
<!--                                    <a class="dropdown-item" href="#">删除</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="media border-bottom border-gray">-->
<!--                                <img class="mr-2" th:src="${message.picture}"-->
<!--                                     alt="" height="32px" width="32px">-->
<!--                                <div class="media-body pb-3 mb-0 small">-->
<!--                                    <strong class="d-block">@username</strong>-->
<!--                                    <p  th:text="${message.content}">-->
<!--                                        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,-->
<!--                                        tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.-->
<!--                                    </p>-->
<!--                                    <small class="float-right" th:text="${message.time}">2019-12-10</small>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="collapse" id="modifyMessage">-->
<!--                                <form role="form" th:action="@{modifyMessage}" method="post">-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="myMessage" class="font-weight-bold sr-only">发布留言</label>-->
<!--                                        <textarea class="form-control" id="myMessage" rows="3" required></textarea>-->
<!--                                    </div>-->
<!--                                    <div class="col-3 ml-auto d-flex justify-content-end">-->
<!--                                        <a class="btn btn-primary mr-2" data-toggle="collapse" href="#modifyMessage" type="submit">-->
<!--                                            完成-->
<!--                                        </a>-->
<!--                                        <a class="btn btn-secondary  " data-toggle="collapse" href="#modifyMessage">-->
<!--                                            取消-->
<!--                                        </a>-->
<!--                                    </div>-->

<!--                                </form>-->

<!--                            </div>-->

<!--                        </li>-->
<!--                    </ul>-->
                    <div class="d-flex justify-content-center mt-2" id="pagination2"></div>
                </div>
            </div>
        </div>

    </div>

</main>
<div th:include="layout/footer :: Footer"></div>

<script type="text/javascript">
    $(document).ready(function () {
        getPage1(1);
        getPage2(1);
    });

    $('#pagination1').twbsPagination({
        totalPages: [[${total}]],
        visiblePages: 5,
        onPageClick: function (event, page) {
            getPage1(page);
        }
    });

    function getPage1(page){
        $.ajax({//根据page去后台加载数据
            url : "/message/getMessageList",
            type : "get",
            dataType : "json",
            data : {"page" : page},
            success : function(data) {
                appendHtml1(data);//处理数据
                console.log(data);
            }
        });
    }
    function appendHtml1(list) {//此函数用于处理后台返回的数据，根据自己需求来实现页面拼接
        let tableShow = '';
        for (let i = 0; i < list.length; i++) {
            tableShow += '<ul class="list-group pt-2 px-3">\n' +
                '                        <li class="list-group-item px-3 border-0">\n' +
                '                            <div class="media border-bottom border-gray">\n' +
                '                                <img class="mr-2" th:src="'+list[i].picture+'"\n' +
                '                                     alt="" height="32px" width="32px">\n' +
                '                                <div class="media-body pb-3 mb-0 small">\n' +
                '                                    <strong class="d-block">@'+list[i].userName+'</strong>\n' +
                '                                    <p>'+list[i].content+'</p>\n' +
                '                                    <small class="float-right">'+list[i].time+'</small>\n' +
                '                                </div>\n' +
                '                            </div>\n' +
                '                        </li>\n' +
                '                    </ul>';
        }
        $('#content1').html(tableShow);
    }

    $('#pagination2').twbsPagination({
        totalPages: [[${user_total}]],
        visiblePages: 5,
        onPageClick: function (event, page) {
            getPage2(page);
        }
    });

    function getPage2(page){
        $.ajax({//根据page去后台加载数据
            url : "message/findUserList",
            type : "get",
            dataType : "json",
            data : {"page" : page},
            success : function(data) {
                appendHtml2(data);//处理数据
                console.log(data);
            }
        });
    }
    function appendHtml2(list) {//此函数用于处理后台返回的数据，根据自己需求来实现页面拼接
        let tableShow = '';
        for (let i = 0; i < list.length; i++) {
            tableShow += '<ul class="list-group">\n' +
                '                        <li class="list-group-item px-3 border-0">\n' +
                '                            <div class="dropdown float-right">\n' +
                '                                <a class="text-dark" href="#" data-toggle="dropdown">\n' +
                '                                    <span class="glyphicon glyphicon-menu-down"></span>\n' +
                '                                </a>\n' +
                '                                <div class="dropdown-menu">\n' +
                '                                    <a class="dropdown-item" data-toggle="collapse" href="#modifyMessage'+i+'">修改</a>\n' +
                '                                    <a class="dropdown-item" href="#">删除</a>\n' +
                '                                </div>\n' +
                '                            </div>\n' +
                '                            <div class="media border-bottom border-gray">\n' +
                '                                <img class="mr-2" th:src="'+list[i].picture+'"\n' +
                '                                     alt="" height="32px" width="32px">\n' +
                '                                <div class="media-body pb-3 mb-0 small">\n' +
                '                                    <strong class="d-block">@'+list[i].userName+'</strong>\n' +
                '                                    <p>'+list[i].content+'</p>\n' +
                '                                    <small class="float-right">'+list[i].time+'</small>\n' +
                '                                </div>\n' +
                '                            </div>\n' +
                '                            <div class="collapse" id="modifyMessage'+i+'">\n' +
                '                                <form role="form" th:action="@{modifyMessage?messageID='+list[i].messageID+'}" method="post">\n' +
                '                                    <div class="form-group">\n' +
                '                                        <label for="myMessage'+i+'" class="font-weight-bold sr-only">发布留言</label>\n' +
                '                                        <textarea class="form-control" id="myMessage'+i+'" rows="3" text="'+list[i].content+'" required></textarea>\n' +
                '                                    </div>\n' +
                '                                    <div class="col-3 ml-auto d-flex justify-content-end">\n' +
                '                                        <a class="btn btn-primary mr-2" data-toggle="collapse" href="#modifyMessage" type="submit">\n' +
                '                                            完成\n' +
                '                                        </a>\n' +
                '                                        <a class="btn btn-secondary  " data-toggle="collapse" href="#modifyMessage">\n' +
                '                                            取消\n' +
                '                                        </a>\n' +
                '                                    </div>\n' +
                '\n' +
                '                                </form>\n' +
                '\n' +
                '                            </div>\n' +
                '\n' +
                '                        </li>\n' +
                '                    </ul>';
        }
        $('#content2').html(tableShow);
    }
</script>

</body>
</html>