<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新闻</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <style type="text/css">
        body{
            background-color: #f5f5f5;
            padding-top: 80px;
        }
    </style>
</head>
<body>

<div th:include="layout/header :: header(flag=${ifLogin},page='news_list')"></div>


<main role="main" class="container-fluid">
    <div class="row">
        <div class="col-8 mx-5">
            <div class="mb-3 p-4 bg-white rounded shadow-sm">
                <div class="border-bottom border-gray py-2 mb-0 text-center">
                    <h4 class="font-weight-bold" th:text="${news.title}">“统计与数据科学前沿理论及应用”教育部重点实验室建设项目通过验收</h4>
                    <small>发布时间：</small>
                    <small th:text="${news.time}"></small>
                </div>


                <div class="pt-3">
                    <p style="text-indent: 2em" th:text="${news.content}">
                        12月11日，教育部科技司组织专家组在我校召开“统计与数据科学前沿理论及应用”教育部重点实验室建设项目验收会议。
                        教育部科技司基础处张楠楠，我校副校长孙真荣、发展规划部部长杨蓉、研究生院培养办主任陈灵犀、科技处副处长杨艳琴、
                        经济与管理学部副主任冯学钢、学校各职能部门代表以及重点实验室骨干科研人员出席了会议。会议由张楠楠主持。
                    </p>
<!--                    <p style="text-indent: 2em">-->
<!--                        12月11日，教育部科技司组织专家组在我校召开“统计与数据科学前沿理论及应用”教育部重点实验室建设项目验收会议。-->
<!--                        教育部科技司基础处张楠楠，我校副校长孙真荣、发展规划部部长杨蓉、研究生院培养办主任陈灵犀、科技处副处长杨艳琴、-->
<!--                        经济与管理学部副主任冯学钢、学校各职能部门代表以及重点实验室骨干科研人员出席了会议。会议由张楠楠主持。-->
<!--                    </p>-->
<!--                    <p style="text-indent: 2em">-->
<!--                        12月11日，教育部科技司组织专家组在我校召开“统计与数据科学前沿理论及应用”教育部重点实验室建设项目验收会议。-->
<!--                        教育部科技司基础处张楠楠，我校副校长孙真荣、发展规划部部长杨蓉、研究生院培养办主任陈灵犀、科技处副处长杨艳琴、-->
<!--                        经济与管理学部副主任冯学钢、学校各职能部门代表以及重点实验室骨干科研人员出席了会议。会议由张楠楠主持。-->
<!--                        12月11日，教育部科技司组织专家组在我校召开“统计与数据科学前沿理论及应用”教育部重点实验室建设项目验收会议。-->
<!--                        教育部科技司基础处张楠楠，我校副校长孙真荣、发展规划部部长杨蓉、研究生院培养办主任陈灵犀、科技处副处长杨艳琴、-->
<!--                        经济与管理学部副主任冯学钢、学校各职能部门代表以及重点实验室骨干科研人员出席了会议。会议由张楠楠主持。-->
<!--                    </p>-->
                </div>

                <small class="d-block text-muted text-right mt-3">
                    信息来源：新闻网
                </small>
            </div>
        </div>


        <div class="col-3">
            <div class="bg-white rounded shadow">
                <div class="card-header py-2 bg-danger text-white">
                    <h6 class="card-title mb-0">新闻</h6>
                </div>
                <ul class="list-group pt-2">
                    <li class="list-group-item border-0 px-3 py-2" th:each="news : ${news_list}">
                        <div class="row mx-0 pb-2 border-bottom border-gray">
                            <a class="ml-1" th:href="@{news}" th:text="${news.title}">2019年12月24日场馆暂时关闭通知</a>
                            <div class="ml-auto">
                                <span class="badge badge-secondary" th:text="${news.time}">2019-12-10</span>
                            </div>
                        </div>
                    </li>
<!--                    <li class="list-group-item border-0 px-3 py-2">-->
<!--                        <div class="row mx-0 pb-2 border-bottom border-gray">-->
<!--                            <a class="ml-1" th:href="@{news}">教育部党组任命梅兵同志为华东师范大学党委书记</a>-->
<!--                            <div class="ml-auto">-->
<!--                                <span class="badge badge-secondary">2019-12-10</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li class="list-group-item border-0 px-3 py-2">-->
<!--                        <div class="row mx-0 pb-2 border-bottom border-gray">-->
<!--                            <a class="ml-1" th:href="@{news}">“不忘初心、牢记使命”主题教育专题网</a>-->
<!--                            <div class="ml-auto">-->
<!--                                <span class="badge badge-secondary">2019-12-10</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li class="list-group-item border-0 px-3 py-2">-->
<!--                        <div class="row mx-0 pb-2 border-bottom border-gray">-->
<!--                            <a class="ml-1" th:href="@{news}">“统计与数据科学前沿理论及应用”教育部重点实验室建设项目通过验收</a>-->
<!--                            <div class="ml-auto">-->
<!--                                <span class="badge badge-secondary">2019-12-10</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </li>-->
                </ul>
                <div class="card-body text-right pt-0 pb-2">
                    <h6 class="m-0"><a th:href="@{news_list}"><span class="badge">MORE</span></a></h6>
                </div>
            </div>
        </div>
    </div>

</main>

<div th:include="layout/footer :: Footer"></div>


</body>
</html>