<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MeetHere-注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <style type="text/css">
        body{
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
<div th:include="layout/header :: header(user=${session.user},flag=${session.user}!=null,page='signup')"></div>

<main class="container col-4" style="padding-top: 8%">
    <form role="form" action="#" th:action="@{signupCheck}" method="post">
        <div class="text-center mb-5">
            <h1>注 册</h1>
        </div>

        <div class="form-group mb-4 row">
            <div class="media col-2">
                <h6 class="align-self-center">昵称</h6>
                <h6 class="text-danger">*</h6>
            </div>
            <div class="col-10">
                <label for="nickname" class="sr-only">昵称</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                    </div>
                    <input type="text" name="nickname" class="form-control" id="nickname">
                </div>
            </div>
        </div>
        <div class="form-group mb-4 row">
            <div class="media col-2">
                <h6 class="align-self-center">邮箱</h6>
            </div>
            <div class="col-10">
                <label for="email" class="sr-only">邮箱</label>
                <input type="text" name="email" class="form-control" id="email">
            </div>
        </div>
        <div class="form-group mb-4 row">
            <div class="media col-2">
                <h6 class="align-self-center">手机号</h6>
            </div>
            <div class="col-10">
                <label for="phone" class="sr-only">手机号</label>
                <input type="text" name="phone" class="form-control" id="phone">
            </div>
        </div>
        <div class="form-group mb-4 row">
            <div class="media col-2">
                <h6 class="align-self-center">用户名</h6>
                <h6 class="text-danger">*</h6>
            </div>
            <div class="col-10">
                <label for="id" class="sr-only">用户名</label>
                <input type="text" name="id" class="form-control" id="id" required>
            </div>
        </div>
        <div class="form-group mb-5 row">
            <div class="media col-2">
                <h6 class="align-self-center">密码</h6>
                <h6 class="text-danger">*</h6>
            </div>
            <div class="col-10">
                <label for="password" class="sr-only">密码</label>
                <input type="password" name="password" class="form-control" id="password" required">
            </div>
        </div>
        <button class="btn btn-lg btn-danger btn-block col-4 m-auto" type="submit">注 册</button>
    </form>
</main>

<div th:include="layout/footer :: Footer"></div>
<script type="text/javascript">
    $("form").submit(function(){
        window.history.back();
        return false;
    });
</script>

</body>
</html>